.verse_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  width: 100%;    /* allow horizontal scroll */
  overflow-x: auto;  
    touch-action: pan-x pan-y;
}

.line {
    display: flex;       /* let words wrap naturally */
    justify-content: center;   /* center single or multiple words */

    gap: 2px;
}

.arabic_page {
  color: var(--color-text-lighter);
  word-break: keep-all;
  direction: rtl;
  font-size: 5.9vw; /* font scales with viewport width */
}

.arabic_page:hover {
  cursor: pointer;
  color: var(--color-text-lighter);
  opacity: 0.7;
}

@media (min-width: 1200px) {
.arabic_page {
  color: var(--color-text-lighter);
  word-break: keep-all;
  direction: rtl;
  font-size: 50px !important; /* font scales with viewport width */
  cursor: pointer;
}
}

.surah_name {
  display: flex;         /* make it take full width */
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 4px 0;
  font-size: 9vw;
}

@media (min-width: 1200px) {
.surah_name {
  display: flex;         /* make it take full width */
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 4px 0;
  font-size: 66px;
}
}

.audio_controls_container {
  position: fixed;
  bottom: 13px;
  left: 50%;
  background-color: var(--color-background-1);
  transform: translateX(-50%);
  border: 1px solid var(--border-color, var(--color-h-line));
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 10px;
  z-index: 9999;
  width: 90%;
}

@media (min-width: 1200px) {
.audio_controls_container {
  position: fixed;
  bottom: 13px;
  left: 50%;
  background-color: var(--color-background-1);
  transform: translateX(-50%);
  border: 1px solid var(--border-color, var(--color-h-line));
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 10px;
  z-index: 9999;
      max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
}


.audio_control_button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: opacity 0.2s;
}

.audio_control_button:hover {
  opacity: 0.7;
}

.audio_slider {
  width: 120px;
  cursor: pointer;
}

.audio_time {
  font-size: 0.8rem;
  opacity: 1;
}

.rate_button {
  font-weight: bold;
}